<%- include('../includes/header'); -%>
  <ul class="list-group main-content">
    <li class="list-group-item">昵称：<%= user.name %></li>
    <li class="list-group-item">用户名：<%= user.username %></li>
    <li class="list-group-item">邮箱：<%= user.email %></li>
  </ul>
<%- include('../includes/footer'); -%>
