<%- include('../includes/header'); -%>
  <%- include('./form-title') -%>
  <form class="login-form" action="/user/create" method="post" role="form">
    <div class="form-group">
      <label for="email">邮箱</label>
      <input type="email" class="form-control" id="email" name="email" value=<%= user.email %>>
    </div>
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" id="username" name="username" value=<%= user.username %>>
    </div>
    <div class="form-group">
      <label for="name">昵称</label>
      <input type="text" class="form-control" id="name" name="name" value=<%= user.name %>>
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <!-- 添加确认密码验证
    <div class="form-group">
      <label for="password2">确认密码</label>
      <input type="password" class="form-control" id="password2">
    </div>
    -->
    <button type="submit" class="btn btn-block btn-success">创建账户</button>
  </form>
  <div class="alert alert-dark options-link" role="alert">
    已有账号？<a href="/user/login">返回登录</a>
  </div>
<%- include('../includes/footer'); -%>
